<div class="row" >
    <div class="small-12 columns">
        <div class="row" id="main-content">

            <div class="small-12 columns">
                <%= image_tag "profile.jpeg", :class => "profile_image" %><p>My name is Alex Freas, and I call Alexandria, Virginia home along with my wife, Meghan.</p>
                <p>I'm currently employed at TaxiMagic, and work on the driver app component to the TaxiMagic service,
                which allows taxi fleets to boost their ride volume and increase reliability by taking advantage of our in-house booking system provided
                through the app.</p>
                <p>I have been developing iOS apps in Objective-C since 2011 and it is my passion and obsession to push the limits of my knowledge and skills.  I really enjoy
                making things that ease the pain of a process or make people's lives easier.</p>
                <p>I go between Objective-C and Python, using Django to develop any backend I need.</p>
                <p>When I'm not coding, I'm an aspiring master chef and world traveler.</p> 
            </div>
        </div>
    </div>
</div>

