<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="small-12 columns" id="top-content">
                        <section class="header">
                            <h2>sashimiblade</h2>
                        </section>
                        <section class="subheader">
                            living and breathing mobile code.
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns" id="site-subnav">
                        <div class="row">
                            <div class="small-6 small-centered columns">
                                <ul class="inline-list" id="subnav-links">
                                    <li>work</li>
                                    <li>blog</li>
                                    <li>contact</li>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="small-12 columns">
                        <div class="row">
                            <div class="small-6 small-centered columns" id="bottom-content">
                                <h4>LegacyApp</h4>
                                <a class="th app-icon" href="https://itunes.apple.com/us/app/legacyapp/id722893286?mt=8" target="new">
                                    <img src="http://a2.mzstatic.com/us/r30/Purple/v4/b0/87/ae/b087aee9-ef5f-92d4-f5ae-c1a1c6f9f066/mzl.ybpjqiiu.175x175-75.jpg" >
                                </a>
                                <p>Explore the timelines of prominent historical figures and view their related Wikipedia page.  Links
                                with your Facebook to explore what someone accomplished at your exact age, to the day!</p>
                            </div>
                            <div class="small-6 small-centered columns" id="bottom-content">
                                <h4>Hapto</h4>
                                <a class="th app-icon" href="https://itunes.apple.com/us/app/hapto/id550387646?mt=8">
                                    <img src="http://a1.mzstatic.com/us/r30/Purple/v4/70/c5/13/70c51304-0025-e9af-3d98-f12e39c982f3/mzl.hsptqpup.175x175-75.jpg">
                                </a>
                                <p>Simple vacation time calculator and tracker.  Determine how much vacation time you have available on a
                                given date, accounting for recorded vacation time.  Figure out how much time it will take to bounce back
                                from a negative PTO value.
                                </p>
                        </div>
                    </div>
                </div>
            <footer class="row">
                <div class="large-12 columns">
                    <div class="row">
                        <div class="large-6 columns">
                        what.
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        </div>
    <body>
</html>
