#top-content {

    background-color: #DBD7D2;
    height: 300px;
}
.header {
    text-align: center;
    padding-top: 100px;
}

.subheader {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}
    
.nav-dl {
    width: 50%;
    margin: auto;
}

.nav-dd {
    padding: auto;
}

#site-subnav {
    margin: auto;
    background-color: black;
    height: 45px;
}

#subnav-links {
    display: block;
    margin: auto;
}

.inline-list li {
    display: block;
    width: 16%;
    text-align: center;
    color: white;
    margin-top: 10px;
}

#main-content {
    padding: 10px 0px;
}

#content-row {
    height: 100%;
    background-color: white;
}

.app-icon {
    width: 60px;
    height: 60px;
    float: left;
    margin: 0px 15px 0px 10px;
}

.profile_image {
    margin: 10px;
    width: 150px;
    height: 150px;
    float: left;
}

.blog-title {

}
