<div class="row" id="main-content">
    <div class="small-12 centered">
<% @posts.each do |post| %>
<div class="row">
    <div class="large-3 large-offset-1 columns datebox">
        <div class="datebox-internal">
            <p class="day"><%= post.created_at.strftime "%d" %></p>
            <p class="date"><%= post.created_at.strftime "%b '%y" %></p>
        </div>
    </div>

    <div class="large-9 columns blogtitlebox">
        <h3>
            <%= link_to post.title, "blog/#{post.url}"  %>
        </h3>
    </div>
</div>
<% end %>

</div>
</div>
